body{
    height:100vh;
    width:100%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-direction:column;
    background-color: #c4c1e0;
}
h1{
    text-align: center;
}

#outer{

    background-color: #7c73e6;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;
    padding:20px;
    text-align:center;
    border-radius: 12px;
}

#input_taker,#output_taker {
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%; 
}

textarea{
    resize: none;
    
}
textarea,select{
    margin:5px;
    padding:8px;
    border:1px;
    border-radius:4px;
}




button{
    margin:5px; 
    padding:8px;
    border:1px;
    border-radius:4px;
}
button:hover{
    background-color: #0056b3;
}
@media screen and (max-width:280px){
  
    #outer{
        width: 80vw;
    }
    
}