body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background-color: #c4c1e0;
    flex-direction: column;
}

#outer {
    /* width: 80%; */
    text-align: center;
    background-color: #7c73e6;
    border-radius: 12px;
}

#inner {
    background-color: #ffe9e3;
    margin-left: 10%;
    margin-right: 10%;
}
textarea{
    resize: none;
    width: 90%;
   
}


textarea,p {
    margin: 10px;
}

#outputtext {
    margin-bottom: 20px;
}

button {
    margin: 3px;
    padding: 3px;
    border: 1px;
    border-radius: 4px;
}

button:hover {
    background-color: #0056b3;
}

@media screen and(max-width:550px) {
    #main {
        flex-shrink: 2;
    }
}